

body {
  background: linear-gradient(to right, #F9D52F, #E15A01);

}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

input {
  padding: 15px;
  margin: 8px;
  font-size: 1rem;
  width: 340px;
  outline: 0;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.2);
  border: 0;
  transition: all .2s ease-in-out;
}

input::placeholder {
  color:black;
}

input:hover {
  transform: scale(1.01);
}



.search-container {
  position: relative; 

}
.search-container .suggestions {
  position: absolute; 
  left: 2%;
  width: 96%; 
  max-height: 300px;
  border-radius: 10px;
  overflow-y: auto;
  background-color: rgba(128, 128, 128, 0.2);
}


/* This applies css to scrollbar created from .search-contnainern .suggestions */
.suggestions::-webkit-scrollbar {
  width: 6px;

}

/* This applies css to scrollbar created from .search-contnainern .suggestions */
.suggestions::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5); 
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 11px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}
ul li:hover {
  background-color: rgba(128, 128, 128, 0.2);


}




